In [2]:
import pandas as pd
import bokeh
from bokeh.plotting import figure, show
from bokeh.layouts import gridplot
from ipywidgets import interact, interact_manual

from bokeh.io import output_notebook
output_notebook()

In [3]:
PATH='/Users/andrewweis/Documents/GitHub/DataSkills/'
FOLDER='assignment-6-awastro55/'

In [4]:
df=pd.read_csv(PATH+'assignment-6-awastro55/'+
               'EducationDataPortal_12.02.2019_type_of_freshman.csv')

In [5]:
df

,year,unitid,inst_name,state_name,state_of_residence,type_of_freshman,enrollment_fall
0,2016,160959,College of the Atlantic,Maine,California,Graduated from HS in past 12 months,2.0
1,2016,160959,College of the Atlantic,Maine,Florida,Total,1.0
2,2016,160959,College of the Atlantic,Maine,Oregon,Total,2.0
3,2016,160959,College of the Atlantic,Maine,Washington,Total,2.0
4,2016,160959,College of the Atlantic,Maine,Pennsylvania,Total,2.0
5,2016,160959,College of the Atlantic,Maine,Ohio,Graduated from HS in past 12 months,2.0
6,2016,160959,College of the Atlantic,Maine,Pennsylvania,Graduated from HS in past 12 months,0.0
7,2016,160959,College of the Atlantic,Maine,Colorado,Graduated from HS in past 12 months,2.0
8,2016,160959,College of the Atlantic,Maine,Foreign countries,Total,20.0
9,2016,160959,College of the Atlantic,Maine,Maryland,Graduated from HS in past 12 months,2.0
10,2016,160959,College of the Atlantic,Maine,New Hampshire,Total,1.0
11,2016,160959,College of the Atlantic,Maine,Massachusetts,Total,4.0
12,2016,160959,College of the Atlantic,Maine,Virginia,Total,2.0
13,2016,160959,College of the Atlantic,Maine,Wisconsin,Total,1.0
14,2016,160959,College of the Atlantic,Maine,New Jersey,Total,3.0
15,2016,160959,College of the Atlantic,Maine,Montana,Graduated from HS in past 12 months,0.0
16,2016,160959,College of the Atlantic,Maine,US total,Total,59.0
17,2016,160959,College of the Atlantic,Maine,Michigan,Graduated from HS in past 12 months,1.0
18,2016,160959,College of the Atlantic,Maine,US total,Graduated from HS in past 12 months,51.0
19,2016,160959,College of the Atlantic,Maine,New Hampshire,Graduated from HS in past 12 months,1.0
20,2016,160959,College of the Atlantic,Maine,Oregon,Graduated from HS in past 12 months,2.0
21,2016,160959,College of the Atlantic,Maine,Total,Graduated from HS in past 12 months,63.0
22,2016,160959,College of the Atlantic,Maine,Vermont,Total,5.0
23,2016,160959,College of the Atlantic,Maine,New Jersey,Graduated from HS in past 12 months,3.0
24,2016,160959,College of the Atlantic,Maine,Maine,Total,13.0
25,2016,160959,College of the Atlantic,Maine,New Mexico,Graduated from HS in past 12 months,1.0
26,2016,160959,College of the Atlantic,Maine,Florida,Graduated from HS in past 12 months,1.0
27,2016,160959,College of the Atlantic,Maine,New Mexico,Total,2.0
28,2016,160959,College of the Atlantic,Maine,Colorado,Total,2.0
29,2016,160959,College of the Atlantic,Maine,Foreign countries,Graduated from HS in past 12 months,12.0
...,...,...,...,...,...,...,...
10858,2001,161572,UNITY COLLEGE,Maine,New York,Total,5.0
10859,2001,161572,UNITY COLLEGE,Maine,New Jersey,Graduated from HS in past 12 months,4.0
10860,2001,161572,UNITY COLLEGE,Maine,Rhode Island,Graduated from HS in past 12 months,4.0
10861,2001,161572,UNITY COLLEGE,Maine,Vermont,Total,5.0
10862,2001,161572,UNITY COLLEGE,Maine,Maryland,Graduated from HS in past 12 months,1.0
10863,2001,161572,UNITY COLLEGE,Maine,Pennsylvania,Graduated from HS in past 12 months,9.0
10864,2001,161572,UNITY COLLEGE,Maine,Washington,Total,1.0
10865,2001,161572,UNITY COLLEGE,Maine,US total,Total,137.0
10866,2001,161572,UNITY COLLEGE,Maine,Rhode Island,Total,4.0
10867,2001,161572,UNITY COLLEGE,Maine,Maine,Graduated from HS in past 12 months,48.0
10868,2001,161572,UNITY COLLEGE,Maine,Indiana,Graduated from HS in past 12 months,1.0
10869,2001,161572,UNITY COLLEGE,Maine,Washington,Graduated from HS in past 12 months,1.0
10870,2001,373827,NEW ENGLAND SCHOOL OF COMMUNICATIONS,Maine,US total,Total,103.0
10871,2001,373827,NEW ENGLAND SCHOOL OF COMMUNICATIONS,Maine,Total,Total,103.0
10872,2001,373827,NEW ENGLAND SCHOOL OF COMMUNICATIONS,Maine,New Hampshire,Graduated from HS in past 12 months,5.0
10873,2001,373827,NEW ENGLAND SCHOOL OF COMMUNICATIONS,Maine,Vermont,Total,2.0
10874,2001,373827,NEW ENGLAND SCHOOL OF COMMUNICATIONS,Maine,Maine,Graduated from HS in past 12 months,54.0
10875,2001,373827,NEW ENGLAND SCHOOL OF COMMUNICATIONS,Maine,US total,Graduated from HS in past 12 months,66.0
10876,2001,373827,NEW ENGLAND SCHOOL OF COMMUNICATIONS,Maine,Massachusetts,Total,4.0
10877,2001,373827,NEW ENGLAND SCHOOL OF COMMUNICATIONS,Maine,Massachusetts,Graduated from HS in past 12 months,2.0
10878,2001,373827,NEW ENGLAND SCHOOL OF COMMUNICATIONS,Maine,New Hampshire,Total,6.0
10879,2001,373827,NEW ENGLAND SCHOOL OF COMMUNICATIONS,Maine,Arizona,Graduated from HS in past 12 months,1.0
10880,2001,373827,NEW ENGLAND SCHOOL OF COMMUNICATIONS,Maine,Maine,Total,88.0
10881,2001,373827,NEW ENGLAND SCHOOL OF COMMUNICATIONS,Maine,Virginia,Total,1.0
10882,2001,373827,NEW ENGLAND SCHOOL OF COMMUNICATIONS,Maine,Virginia,Graduated from HS in past 12 months,1.0
10883,2001,373827,NEW ENGLAND SCHOOL OF COMMUNICATIONS,Maine,Arizona,Total,1.0
10884,2001,373827,NEW ENGLAND SCHOOL OF COMMUNICATIONS,Maine,Delaware,Graduated from HS in past 12 months,1.0
10885,2001,373827,NEW ENGLAND SCHOOL OF COMMUNICATIONS,Maine,Total,Graduated from HS in past 12 months,66.0
10886,2001,373827,NEW ENGLAND SCHOOL OF COMMUNICATIONS,Maine,Vermont,Graduated from HS in past 12 months,2.0
10887,2001,373827,NEW ENGLAND SCHOOL OF COMMUNICATIONS,Maine,Delaware,Total,1.0

In [7]:
ddict=pd.read_csv(PATH+FOLDER+'EducationDataPortal_12.02.2019_datadictionary.csv')
ddict

,variable,label,description,source,source2
0,unitid,Unit ID number,Unique identification number of the institutio...,Integrated Postsecondary Education Data System,NaN
1,number_applied,Number of applicants,"The number of first-time, degree/certificate-s...",Integrated Postsecondary Education Data System,NaN
2,number_admitted,Number of admissions,"The number of first-time, degree/certificate-s...",Integrated Postsecondary Education Data System,NaN
3,sat_crit_read_25_pctl,SAT critical reading 25th percentile score,None,Integrated Postsecondary Education Data System,NaN
4,sat_crit_read_75_pctl,SAT critical reading 75th percentile score,None,Integrated Postsecondary Education Data System,NaN
5,sat_math_25_pctl,SAT math 25th percentile score,None,Integrated Postsecondary Education Data System,NaN
6,sat_math_75_pctl,SAT math 75th percentile score,None,Integrated Postsecondary Education Data System,NaN
7,act_composite_25_pctl,ACT composite 25th percentile score,None,Integrated Postsecondary Education Data System,NaN
8,act_composite_75_pctl,ACT composite 75th percentile score,None,Integrated Postsecondary Education Data System,NaN
9,act_english_25_pctl,ACT english 25th percentile score,None,Integrated Postsecondary Education Data System,NaN
10,act_english_75_pctl,ACT english 75th percentile score,None,Integrated Postsecondary Education Data System,NaN
11,act_math_25_pctl,ACT math 25th percentile score,None,Integrated Postsecondary Education Data System,NaN
12,act_math_75_pctl,ACT math 75th percentile score,None,Integrated Postsecondary Education Data System,NaN
13,inst_name,Institution (entity) name,None,Integrated Postsecondary Education Data System,NaN
14,inst_control,Control of institution,None,Integrated Postsecondary Education Data System,NaN
15,institution_level,Level of institution,None,Integrated Postsecondary Education Data System,NaN
16,level_of_study,Level of study,An undergraduate student is one enrolled in a ...,Integrated Postsecondary Education Data System,NaN
17,enrollment_fall,Fall enrollment,Enrollment reported is of the institution's of...,Integrated Postsecondary Education Data System,NaN
18,state_of_residence,State of residence,None,Integrated Postsecondary Education Data System,NaN
19,type_of_freshman,Type of freshman,None,Integrated Postsecondary Education Data System,NaN

In [6]:
def create_df(filepath, skiprows=0):
    dfs=[]
    files=os.listdir(filepath)
    for f in files:
        #print('f=',f)
        #state, month = f.split('_')
        if f=='.DS_Store':
            continue
        df = pd.read_csv(os.path.join(filepath, f), skiprows=skiprows)
        df['State'] = state
        #print(state)
        df['Date'] = pd.to_datetime(df['Date'], format='%Y%m')
        dfs.append(df)
    df=pd.concat(dfs)
    
    return df

In [7]:
#Copied this function in part from assignment 1.  
def read_df(files):
    dfs=[]
    for f in files:
        df=pd.read_csv(PATH+FOLDER+f)
        dfs.append(df)
        
    return dfs

In [8]:
#Copied this function from assignment 5.  
def csv_gen(sets,base):
    return base.format(sets)

In [9]:
#Find data types
#Copied this function from assignment 5.  
def check(df):
    return df.dtypes

In [10]:
#Modeled this on similar code from assignment 5.  
csvbase='EducationDataPortal_12.02.2019_{}.csv'
datasets=['datadictionary','institutions','level_of_study','type_of_freshman']
csvlist=[csv_gen(item, csvbase) for item in datasets]
csvlist

['EducationDataPortal_12.02.2019_datadictionary.csv',
 'EducationDataPortal_12.02.2019_institutions.csv',
 'EducationDataPortal_12.02.2019_level_of_study.csv',
 'EducationDataPortal_12.02.2019_type_of_freshman.csv']

In [11]:
education=read_df(csvlist)
education #Gets 4 data frames.

[                 variable                                       label  \
 0                  unitid                              Unit ID number
 1          number_applied                        Number of applicants
 2         number_admitted                        Number of admissions
 3   sat_crit_read_25_pctl  SAT critical reading 25th percentile score
 4   sat_crit_read_75_pctl  SAT critical reading 75th percentile score
 5        sat_math_25_pctl              SAT math 25th percentile score
 6        sat_math_75_pctl              SAT math 75th percentile score
 7   act_composite_25_pctl         ACT composite 25th percentile score
 8   act_composite_75_pctl         ACT composite 75th percentile score
 9     act_english_25_pctl           ACT english 25th percentile score
 10    act_english_75_pctl           ACT english 75th percentile score
 11       act_math_25_pctl              ACT math 25th percentile score
 12       act_math_75_pctl              ACT math 75th percentile score
 13              inst_name                   Institution (entity) name
 14           inst_control                      Control of institution
 15      institution_level                        Level of institution
 16         level_of_study                              Level of study
 17        enrollment_fall                             Fall enrollment
 18     state_of_residence                          State of residence
 19       type_of_freshman                            Type of freshman

                                           description  \
 0   Unique identification number of the institutio...
 1   The number of first-time, degree/certificate-s...
 2   The number of first-time, degree/certificate-s...
 3                                                None
 4                                                None
 5                                                None
 6                                                None
 7                                                None
 8                                                None
 9                                                None
 10                                               None
 11                                               None
 12                                               None
 13                                               None
 14                                               None
 15                                               None
 16  An undergraduate student is one enrolled in a ...
 17  Enrollment reported is of the institution's of...
 18                                               None
 19                                               None

                                             source  source2
 0   Integrated Postsecondary Education Data System      NaN
 1   Integrated Postsecondary Education Data System      NaN
 2   Integrated Postsecondary Education Data System      NaN
 3   Integrated Postsecondary Education Data System      NaN
 4   Integrated Postsecondary Education Data System      NaN
 5   Integrated Postsecondary Education Data System      NaN
 6   Integrated Postsecondary Education Data System      NaN
 7   Integrated Postsecondary Education Data System      NaN
 8   Integrated Postsecondary Education Data System      NaN
 9   Integrated Postsecondary Education Data System      NaN
 10  Integrated Postsecondary Education Data System      NaN
 11  Integrated Postsecondary Education Data System      NaN
 12  Integrated Postsecondary Education Data System      NaN
 13  Integrated Postsecondary Education Data System      NaN
 14  Integrated Postsecondary Education Data System      NaN
 15  Integrated Postsecondary Education Data System      NaN
 16  Integrated Postsecondary Education Data System      NaN
 17  Integrated Postsecondary Education Data System      NaN
 18  Integrated Postsecondary Education Data System      NaN
 19  Integrated Postsecondary Education Data System      NaN  ,
      year  unitid                                          inst_name  \
 0    2016  160959                            College of the Atlantic
 1    2016  160977                                      Bates College
 2    2016  161004                                    Bowdoin College
 3    2016  161086                                      Colby College
 4    2016  161217                     University of Maine at Augusta
 5    2016  161226                  University of Maine at Farmington
 6    2016  161235                   University of Maine at Fort Kent
 7    2016  161244                     University of Maine at Machias
 8    2016  161253                                University of Maine
 9    2016  161280          University of Maine-System Central Office
 10   2016  161299                             Maine Maritime Academy
 11   2016  161341                University of Maine at Presque Isle
 12   2016  161457                          University of New England
 13   2016  161509                               Maine College of Art
 14   2016  161518                    Saint Joseph's College of Maine
 15   2016  161554                       University of Southern Maine
 16   2016  161563                                     Thomas College
 17   2016  161572                                      Unity College
 18   2016  462044  Institute for Doctoral Studies in the Visual Arts
 19   2016  487524                                  Husson University
 20   2015  160959                            College of the Atlantic
 21   2015  160977                                      Bates College
 22   2015  161004                                    Bowdoin College
 23   2015  161086                                      Colby College
 24   2015  161165                                  Husson University
 25   2015  161217                     University of Maine at Augusta
 26   2015  161226                  University of Maine at Farmington
 27   2015  161235                   University of Maine at Fort Kent
 28   2015  161244                     University of Maine at Machias
 29   2015  161253                                University of Maine
 ..    ...     ...                                                ...
 318  2002  161518                              SAINT JOSEPHS COLLEGE
 319  2002  161554                       UNIVERSITY OF SOUTHERN MAINE
 320  2002  161563                                     THOMAS COLLEGE
 321  2002  161572                                      UNITY COLLEGE
 322  2002  373827               NEW ENGLAND SCHOOL OF COMMUNICATIONS
 323  2002  407230                        BANGOR THEOLOGICAL SEMINARY
 324  2001  160959                            COLLEGE OF THE ATLANTIC
 325  2001  160968                        BANGOR THEOLOGICAL SEMINARY
 326  2001  160977                                      BATES COLLEGE
 327  2001  161004                                    BOWDOIN COLLEGE
 328  2001  161086                                      COLBY COLLEGE
 329  2001  161147                           FAITH SCHOOL OF THEOLOGY
 330  2001  161165                                     HUSSON COLLEGE
 331  2001  161217                     UNIVERSITY OF MAINE AT AUGUSTA
 332  2001  161226                  UNIVERSITY OF MAINE AT FARMINGTON
 333  2001  161235                   UNIVERSITY OF MAINE AT FORT KENT
 334  2001  161244                     UNIVERSITY OF MAINE AT MACHIAS
 335  2001  161253                                UNIVERSITY OF MAINE
 336  2001  161280          UNIVERSITY OF MAINE SYSTEM CENTRAL OFFICE
 337  2001  161299                             MAINE MARITIME ACADEMY
 338  2001  161341                UNIVERSITY OF MAINE AT PRESQUE ISLE
 339  2001  161448                  NEW ENGLAND BAPTIST BIBLE COLLEGE
 340  2001  161457        UNIVERSITY OF NEW ENGLAND-UNIVERSITY CAMPUS
 341  2001  161509                               MAINE COLLEGE OF ART
 342  2001  161518                              SAINT JOSEPHS COLLEGE
 343  2001  161554                       UNIVERSITY OF SOUTHERN MAINE
 344  2001  161563                                     THOMAS COLLEGE
 345  2001  161572                                      UNITY COLLEGE
 346  2001  373827               NEW ENGLAND SCHOOL OF COMMUNICATIONS
 347  2001  407230                        BANGOR THEOLOGICAL SEMINARY

     state_name  number_applied  number_admitted  sat_crit_read_25_pctl  \
 0        Maine           485.0            314.0                    NaN
 1        Maine          5356.0           1213.0                    NaN
 2        Maine          6799.0           1009.0                    NaN
 3        Maine          9833.0           1840.0                  630.0
 4        Maine             NaN              NaN                    NaN
 5        Maine          1880.0           1512.0                    NaN
 6        Maine           481.0            392.0                  390.0
 7        Maine             NaN              NaN                    NaN
 8        Maine         12952.0          11625.0                  470.0
 9        Maine             NaN              NaN                    NaN
 10       Maine           882.0            666.0                  450.0
 11       Maine          1491.0           1293.0                    NaN
 12       Maine          4883.0           4056.0                  470.0
 13       Maine           529.0            457.0                    NaN
 14       Maine          1323.0           1033.0                  420.0
 15       Maine          4111.0           3299.0                  440.0
 16       Maine             NaN              NaN                    NaN
 17       Maine           991.0            920.0                    NaN
 18       Maine             NaN              NaN                    NaN
 19       Maine          2460.0           1974.0                  430.0
 20       Maine           400.0            302.0                    NaN
 21       Maine          5651.0           1231.0                    NaN
 22       Maine          6790.0           1010.0                    NaN
 23       Maine          7593.0           1710.0                  630.0
 24       Maine             NaN              NaN                    NaN
 25       Maine             NaN              NaN                    NaN
 26       Maine          1614.0           1346.0                    NaN
 27       Maine           215.0            192.0                  400.0
 28       Maine             NaN              NaN                    NaN
 29       Maine         11044.0          10073.0                  480.0
 ..         ...             ...              ...                    ...
 318      Maine          1129.0            925.0                  420.0
 319      Maine          3664.0           2741.0                  450.0
 320      Maine           487.0            393.0                  400.0
 321      Maine           625.0            502.0                    NaN
 322      Maine           240.0            159.0                    NaN
 323      Maine             NaN              NaN                    NaN
 324      Maine           234.0            174.0                    NaN
 325      Maine             NaN              NaN                    NaN
 326      Maine          4264.0           1397.0                  630.0
 327      Maine          4536.0           1080.0                  640.0
 328      Maine          3909.0           1323.0                  620.0
 329      Maine             NaN              NaN                    NaN
 330      Maine             NaN              NaN                    NaN
 331      Maine             NaN              NaN                    NaN
 332      Maine          1743.0           1200.0                  470.0
 333      Maine           549.0            532.0                    NaN
 334      Maine           521.0            423.0                    NaN
 335      Maine          4783.0           3890.0                  480.0
 336      Maine             NaN              NaN                    NaN
 337      Maine           486.0            380.0                    NaN
 338      Maine           300.0            270.0                    NaN
 339      Maine            47.0             44.0                    NaN
 340      Maine          1444.0           1283.0                  470.0
 341      Maine           320.0            283.0                  455.0
 342      Maine             NaN              NaN                    NaN
 343      Maine          2926.0           2410.0                  450.0
 344      Maine           515.0            492.0                  420.0
 345      Maine           470.0            426.0                    NaN
 346      Maine             NaN              NaN                    NaN
 347      Maine             NaN              NaN                    NaN

      sat_crit_read_75_pctl  sat_math_25_pctl  sat_math_75_pctl  \
 0                      NaN               NaN               NaN
 1                      NaN               NaN               NaN
 2                      NaN               NaN               NaN
 3                    725.0             640.0             745.0
 4                      NaN               NaN               NaN
 5                      NaN               NaN               NaN
 6                    510.0             400.0             475.0
 7                      NaN               NaN               NaN
 8                    590.0             480.0             600.0
 9                      NaN               NaN               NaN
 10                   560.0             480.0             580.0
 11                     NaN               NaN               NaN
 12                   570.0             470.0             580.0
 13                     NaN               NaN               NaN
 14                   520.0             390.0             500.0
 15                   550.0             430.0             540.0
 16                     NaN               NaN               NaN
 17                     NaN               NaN               NaN
 18                     NaN               NaN               NaN
 19                   530.0             430.0             540.0
 20                     NaN               NaN               NaN
 21                     NaN               NaN               NaN
 22                     NaN               NaN               NaN
 23                   720.0             640.0             740.0
 24                     NaN               NaN               NaN
 25                     NaN               NaN               NaN
 26                     NaN               NaN               NaN
 27                   480.0             400.0             500.0
 28                     NaN               NaN               NaN
 29                   600.0             480.0             610.0
 ..                     ...               ...               ...
 318                  540.0             430.0             560.0
 319                  550.0             450.0             540.0
 320                  500.0             410.0             510.0
 321                    NaN               NaN               NaN
 322                    NaN               NaN               NaN
 323                    NaN               NaN               NaN
 324                    NaN               NaN               NaN
 325                    NaN               NaN               NaN
 326                  700.0             640.0             700.0
 327                  730.0             640.0             710.0
 328                  700.0             630.0             710.0
 329                    NaN               NaN               NaN
 330                    NaN               NaN               NaN
 331                    NaN               NaN               NaN
 332                  580.0             460.0             570.0
 333                    NaN               NaN               NaN
 334                    NaN               NaN               NaN
 335                  590.0             490.0             600.0
 336                    NaN               NaN               NaN
 337                    NaN               NaN               NaN
 338                    NaN               NaN               NaN
 339                    NaN               NaN               NaN
 340                  580.0             480.0             580.0
 341                  585.0             415.0             530.0
 342                    NaN               NaN               NaN
 343                  560.0             440.0             550.0
 344                  510.0             400.0             530.0
 345                    NaN               NaN               NaN
 346                    NaN               NaN               NaN
 347                    NaN               NaN               NaN

      act_composite_25_pctl  act_composite_75_pctl  act_english_25_pctl  \
 0                      NaN                    NaN                  NaN
 1                      NaN                    NaN                  NaN
 2                      NaN                    NaN                  NaN
 3                     30.0                   33.0                 30.0
 4                      NaN                    NaN                  NaN
 5                      NaN                    NaN                  NaN
 6                     16.0                   22.0                 12.0
 7                      NaN                    NaN                  NaN
 8                     21.0                   26.0                 20.0
 9                      NaN                    NaN                  NaN
 10                    21.0                   25.0                 19.0
 11                     NaN                    NaN                  NaN
 12                    21.0                   26.0                 20.0
 13                     NaN                    NaN                  NaN
 14                    20.0                   23.0                 19.0
 15                    19.0                   25.0                 17.0
 16                     NaN                    NaN                  NaN
 17                     NaN                    NaN                  NaN
 18                     NaN                    NaN                  NaN
 19                    17.0                   23.0                 16.0
 20                     NaN                    NaN                  NaN
 21                     NaN                    NaN                  NaN
 22                     NaN                    NaN                  NaN
 23                    29.0                   32.0                 29.0
 24                     NaN                    NaN                  NaN
 25                     NaN                    NaN                  NaN
 26                     NaN                    NaN                  NaN
 27                    15.0                   19.0                 13.0
 28                     NaN                    NaN                  NaN
 29                    21.0                   28.0                  NaN
 ..                     ...                    ...                  ...
 318                    NaN                    NaN                  NaN
 319                    NaN                    NaN                  NaN
 320                    NaN                    NaN                  NaN
 321                    NaN                    NaN                  NaN
 322                    NaN                    NaN                  NaN
 323                    NaN                    NaN                  NaN
 324                    NaN                    NaN                  NaN
 325                    NaN                    NaN                  NaN
 326                    NaN                    NaN                  NaN
 327                    NaN                    NaN                  NaN
 328                   26.0                   30.0                 26.0
 329                    NaN                    NaN                  NaN
 330                    NaN                    NaN                  NaN

In [12]:
check(education[0])

variable        object
label           object
description     object
source          object
source2        float64
dtype: object

In [13]:
check(education[1])

year                       int64
unitid                     int64
inst_name                 object
state_name                object
number_applied           float64
number_admitted          float64
sat_crit_read_25_pctl    float64
sat_crit_read_75_pctl    float64
sat_math_25_pctl         float64
sat_math_75_pctl         float64
act_composite_25_pctl    float64
act_composite_75_pctl    float64
act_english_25_pctl      float64
act_english_75_pctl      float64
act_math_25_pctl         float64
act_math_75_pctl         float64
inst_control              object
institution_level         object
dtype: object

In [14]:
check(education[2])

year                int64
unitid              int64
inst_name          object
state_name         object
level_of_study     object
enrollment_fall     int64
dtype: object

In [15]:
check(education[3])

year                    int64
unitid                  int64
inst_name              object
state_name             object
state_of_residence     object
type_of_freshman       object
enrollment_fall       float64
dtype: object

In [16]:
#Separate data frames
admit=education[1]
level=education[2]
freshman=education[3]

In [67]:
admit.head()
#freshman.head()

,year,unitid,inst_name,state_name,number_applied,number_admitted,sat_crit_read_25_pctl,sat_crit_read_75_pctl,sat_math_25_pctl,sat_math_75_pctl,act_composite_25_pctl,act_composite_75_pctl,act_english_25_pctl,act_english_75_pctl,act_math_25_pctl,act_math_75_pctl,inst_control,institution_level,acceptance_rate
0,2016,160959,College of the Atlantic,Maine,485.0,314.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Private not-for-profit,Four or more years,0.647423
1,2016,160977,Bates College,Maine,5356.0,1213.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Private not-for-profit,Four or more years,0.226475
2,2016,161004,Bowdoin College,Maine,6799.0,1009.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Private not-for-profit,Four or more years,0.148404
3,2016,161086,Colby College,Maine,9833.0,1840.0,630.0,725.0,640.0,745.0,30.0,33.0,30.0,34.0,27.0,32.0,Private not-for-profit,Four or more years,0.187125
4,2016,161217,University of Maine at Augusta,Maine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Public,Four or more years,NaN

In [18]:
admit['acceptance_rate']=admit['number_admitted']/admit['number_applied']

In [19]:
plot_usa = figure(title='United States', x_axis_label='Year', y_axis_label='Population Density', plot_height=300)
plot_peru = figure(title='Peru', x_axis_label='Year', y_axis_label='Population Density', plot_height=300)#,
                 #x_range=plot_usa.x_range, y_range=plot_usa.y_range)

plot_usa.line(admit['year'], admit['number_admitted'])
plot_peru.line(admit['year'], admit['number_admitted']) #Not interested in the differing levels of GDP,
#you can normalize like this, look on same scale.  Tells you more.  

plot = gridplot([[plot_usa, plot_peru]])
show(plot_usa)

In [21]:
bowdoin=admit[admit['inst_name']=="Bowdoin College"]
#colby=admit.loc["Colby College"]

In [22]:
bowdoin.head()

,year,unitid,inst_name,state_name,number_applied,number_admitted,sat_crit_read_25_pctl,sat_crit_read_75_pctl,sat_math_25_pctl,sat_math_75_pctl,act_composite_25_pctl,act_composite_75_pctl,act_english_25_pctl,act_english_75_pctl,act_math_25_pctl,act_math_75_pctl,inst_control,institution_level,acceptance_rate
2,2016,161004,Bowdoin College,Maine,6799.0,1009.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Private not-for-profit,Four or more years,0.148404
22,2015,161004,Bowdoin College,Maine,6790.0,1010.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Private not-for-profit,Four or more years,0.148748
44,2014,161004,Bowdoin College,Maine,6935.0,1034.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Private not-for-profit,Four or more years,0.149099
66,2013,161004,Bowdoin College,Maine,7052.0,1054.0,680.0,760.0,680.0,750.0,30.0,33.0,31.0,34.0,29.0,34.0,Private not-for-profit,Four or more years,0.149461
88,2012,161004,Bowdoin College,Maine,6716.0,1060.0,670.0,760.0,670.0,760.0,31.0,33.0,31.0,35.0,29.0,34.0,Private not-for-profit,Four or more years,0.157832

In [24]:
colby=admit[admit['inst_name']=='Colby College']

In [25]:
colby.head()

,year,unitid,inst_name,state_name,number_applied,number_admitted,sat_crit_read_25_pctl,sat_crit_read_75_pctl,sat_math_25_pctl,sat_math_75_pctl,act_composite_25_pctl,act_composite_75_pctl,act_english_25_pctl,act_english_75_pctl,act_math_25_pctl,act_math_75_pctl,inst_control,institution_level,acceptance_rate
3,2016,161086,Colby College,Maine,9833.0,1840.0,630.0,725.0,640.0,745.0,30.0,33.0,30.0,34.0,27.0,32.0,Private not-for-profit,Four or more years,0.187125
23,2015,161086,Colby College,Maine,7593.0,1710.0,630.0,720.0,640.0,740.0,29.0,32.0,29.0,34.0,27.0,33.0,Private not-for-profit,Four or more years,0.225207
45,2014,161086,Colby College,Maine,5148.0,1444.0,610.0,710.0,620.0,720.0,28.0,32.0,28.0,33.0,27.0,32.0,Private not-for-profit,Four or more years,0.280497
67,2013,161086,Colby College,Maine,5407.0,1408.0,620.0,710.0,640.0,720.0,28.0,32.0,28.0,34.0,27.0,32.0,Private not-for-profit,Four or more years,0.260403
89,2012,161086,Colby College,Maine,5241.0,1517.0,610.0,710.0,630.0,720.0,29.0,32.0,28.0,34.0,27.0,32.0,Private not-for-profit,Four or more years,0.289449

In [28]:
plot = figure(title='Acceptance Rates Over Time', x_axis_label='Year', 
              y_axis_label='Population Density')

plot.line(bowdoin['year'], bowdoin['acceptance_rate'], legend='Bowdoin') #Indexes, like in SQL eg, allow for
#quicker finding, database lookup
plot.line(colby['year'], colby['acceptance_rate'], legend='Colby') #Circles over line, need this separate command.
#No legend argument since he doesn't want USA separately.  
#plot.line(peru.index, peru['population'], legend='Peru')
show(plot) #Remember what goes in line and such, is different from matplotlib.

In [76]:
colleges=admit.reset_index()['inst_name'].unique()
#check(colleges)
#colleges.head()
colleges

array(['College of the Atlantic', 'Bates College', 'Bowdoin College',
       'Colby College', 'University of Maine at Augusta',
       'University of Maine at Farmington',
       'University of Maine at Fort Kent',
       'University of Maine at Machias', 'University of Maine',
       'University of Maine-System Central Office',
       'Maine Maritime Academy', 'University of Maine at Presque Isle',
       'University of New England', 'Maine College of Art',
       "Saint Joseph's College of Maine", 'University of Southern Maine',
       'Thomas College', 'Unity College',
       'Institute for Doctoral Studies in the Visual Arts',
       'Husson University', 'New England School of Communications',
       'Bangor Theological Seminary',
       'University of Maine System Central Office', 'Husson College',
       'New England Baptist Bible College', 'Saint Josephs College',
       'COLLEGE OF THE ATLANTIC', 'BANGOR THEOLOGICAL SEMINARY',
       'BATES COLLEGE', 'BOWDOIN COLLEGE', 'COLBY COLLEGE',
       'HUSSON COLLEGE', 'UNIVERSITY OF MAINE AT AUGUSTA',
       'UNIVERSITY OF MAINE AT FARMINGTON',
       'UNIVERSITY OF MAINE AT FORT KENT',
       'UNIVERSITY OF MAINE AT MACHIAS', 'UNIVERSITY OF MAINE',
       'UNIVERSITY OF MAINE SYSTEM CENTRAL OFFICE',
       'MAINE MARITIME ACADEMY', 'UNIVERSITY OF MAINE AT PRESQUE ISLE',
       'NEW ENGLAND BAPTIST BIBLE COLLEGE', 'UNIVERSITY OF NEW ENGLAND',
       'MAINE COLLEGE OF ART', 'SAINT JOSEPHS COLLEGE',
       'UNIVERSITY OF SOUTHERN MAINE', 'THOMAS COLLEGE', 'UNITY COLLEGE',
       'NEW ENGLAND SCHOOL OF COMMUNICATIONS', 'FAITH SCHOOL OF THEOLOGY',
       'UNIVERSITY OF NEW ENGLAND-UNIVERSITY CAMPUS'], dtype=object)

In [79]:
def plot_one_rate(college, color='red', size=8):
    plot = figure(title='Acceptance Rates Over Time For '+college, x_axis_label='Year', 
              y_axis_label='Rate')
    plot.circle(admit[admit['inst_name']==college]['year'], 
                 admit[admit['inst_name']==college]['acceptance_rate'],
              legend=college, fill_color=color, size=size)
    #plot2 = figure(title='Acceptance Rates Over Time For '+college2, x_axis_label='Year', 
     #         y_axis_label='Rate', x
        
    show(plot)
    return(plot)

In [81]:
@interact(college=colleges)
def make_one_plot(college=colleges[2]):
    plot=plot_one_rate(college)
    show(plot)
#colby_plot=plot_one_rate('Colby College')

interactive(children=(Dropdown(description='college', index=2, options=('College of the Atlantic', 'Bates Coll…

In [65]:
def plot_rate(college1, college2, color='red', size=8):
    plot1 = figure(title='Acceptance Rates Over Time For '+college1, x_axis_label='Year', 
              y_axis_label='Rate')
    plot1.circle(admit[admit['inst_name']==college1]['year'], 
                 admit[admit['inst_name']==college1]['acceptance_rate'],
              legend=college1, fill_color=color, size=size)
    plot2 = figure(title='Acceptance Rates Over Time For '+college2, x_axis_label='Year', 
              y_axis_label='Rate', x_range=plot1.x_range, y_range=plot1.y_range)
    plot2.circle(admit[admit['inst_name']==college2]['year'], 
                 admit[admit['inst_name']==college2]['acceptance_rate'],
              legend=college2, fill_color=color, size=size)
    plot=gridplot([[plot1,plot2]])
    show(plot)
    return(plot)

In [82]:
@interact(college1=colleges, college2=colleges)#colleges=admit['inst_name'])
def make_rate_plot(college1=colleges[2],college2=colleges[3]):
    plot=plot_rate(college1, college2)
    show(plot)

interactive(children=(Dropdown(description='college1', index=2, options=('College of the Atlantic', 'Bates Col…

In [66]:
bowdoin_plot=plot_rate('Bowdoin College', 'Colby College', color='blue', size=12)
bowdoin_plot

Column(id='3857', ...)